<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- 扫描除了@controller其他组价 -->
	<context:component-scan base-package="cn.com.zzm.ssmm">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 数据库配置文件 -->
	<!-- <context:property-placeholder location="classpath*:db.properties"/> 报错-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
	    <property name="locations">    
	        <list>    
	            <value>classpath*:db.properties</value>
	            <!-- <value>classpath*:email.prroperties</value>  --> 
	        </list>    
	    </property>    
	</bean> 
	
	<!-- 数据源 -->
	 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
 		 <property name="driverClass" value="${driver}"/>  
         <property name="jdbcUrl" value="${url}"/>
 		 <property name="user" value="${username}"/>
 		 <property name="password" value="${password}"/>
 		 <!--连接池中保留的最大连接数。默认值: 15 -->   
       	<property name="maxPoolSize" value="20"/>  
      	 <!-- 连接池中保留的最小连接数，默认为：3-->  
       	<property name="minPoolSize" value="2"/>  
      	 <!-- 初始化连接池中的连接数，取值应在minPoolSize与maxPoolSize之间，默认为3-->  
       	<property name="initialPoolSize" value="2"/>  
       	<!--最大空闲时间，60秒内未使用则连接被丢弃。若为0则永不丢弃。默认值: 0 -->   
      	<!-- <property name="maxIdleTime">60</property>   -->
       	<!-- 当连接池连接耗尽时，客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException，如设为0则无限期等待。单位毫秒。默认: 0 -->   
       	<property name="checkoutTimeout" value="3000"/>  
       	<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。默认值: 3 -->   
       	<property name="acquireIncrement" value="2"/> 
	 </bean>
	 
	 <!--  事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 开启基于注解事务 -->
	<tx:annotation-driven/>
	
	<!-- 在服务层配置事务特性 -->
	
    
	
	 
	<!-- 引入mybatis配置 -->
	<import resource="classpath*:spring-mybatis.xml"/>
	<!-- shiro安全框架 -->
	<!-- <import resource="classpath*:spring-shiro.xml"/> -->
	
	<!-- jms -->
	<!-- <import resource="classpath*:spring-jms.xml"/> -->
	
	<!-- quartz -->
	<!-- <import resource="classpath*:spring-quartz.xml"/> -->
	
	<!-- email -->
	<!-- <import resource="classpath*:spring-email.xml"/> -->
	
	<!-- spring加载ehcache配置文件 -->
   <!-- <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
     <property name="configLocation" value="classpath*:ehcache.xml" />  
   </bean> -->



</beans>
